# Backup files
*~
*.orig

# TeX auxiliary files
*.aux
*.dvi
*.log
*.out
*.png
*.toc
*.directory
doc/MMSP.manual.pdf

# MMSP utility binaries
utility/mmsp2png
utility/mmsp2pvd
utility/mmsp2vti
utility/MC2PF
utility/MC2sPF
utility/MC2vox
utility/PF2MC
utility/PF2sPF
utility/sPF2MC
utility/sPF2PF
utility/vox2MC
utility/mmsp2topo
utility/mmsp2z
utility/wrongendian
utility/mmsp2tsv
utility/mmsp2xyz

# testing output
*.dat
*.png
*.vti
ostwald
parallel
graingrowth
zener
test/unitTestSuite

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
