# Backup files
*~
*.orig

# TeX auxiliary files
*.aux
*.dvi
*.log
*.out
*.toc
doc/MMSP.manual.pdf

# MMSP utility binaries
utility/MC2PF
utility/MC2sPF
utility/MC2vox
utility/mmsp2png
utility/mmsp2pvd
utility/mmsp2vti
utility/PF2MC
utility/PF2sPF
utility/sPF2MC
utility/sPF2PF
utility/vox2MC
utility/wrongendian

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
