# TeX auxiliary files
*.aux
*.log
*.out
*.toc
doc/MMSP.manual.pdf

# MMSP utility binaries
MC2PF
MC2sPF
MC2vox
mmsp2pvd
mmsp2vti
mmsp2xyz
PF2MC
PF2sPF
sPF2MC
sPF2PF
TKmmsp2vti
vox2MC

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
